.radial-menu {
	border-radius: 50%;
	width:  var(--radial-menu-diameter-config, var(--radial-menu-diameter, var(--dialog-width)));
	height: var(--radial-menu-diameter-config, var(--radial-menu-diameter, var(--dialog-width)));
	border: 15px solid #000;
	overflow: hidden;
	> .modal-content {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.tooltip.go-away {
	display: none;
}
